html,
    body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 95%;
        height: 100%;
        position: relative;
    }

    input {
        font-size: 12px;
    }

    h1 {
         
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
    }

    #hide-listings,
    #show-listings {
        width: 48%;
    }

    #map {
         
        bottom:0px;
        height: 100%;
        width: 50%;
        left: 45%;
        position: absolute;
         
    }

    .options-box {
        
        background: #fff;
        color: #000; 
        height: 100%;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left; 
        width: 40%;
    }
 
    #streetpano {
        width: 200px;       
        height: 200px;
    }

    .text {
        font-size: 12px;
    }
    
    #nostreetpano{
        color:#ffa500;
    }
    #weather-error{
        color:#ffa500;
    }
    div.infowindow {
        max-height:250px;
        overflow-y:auto;
    }
    
    #place-list {
        size: auto;    
    }
    
   
  
@media only screen and  (max-device-width : 500px) {
    .container{
        width:98%;
        position:relative;
    }
    .options-box {        
        width:98%;
        height: 30%;
    }
    
    #map {
        top: 30%;
        width: 96%;
        left: 1%;
        height:70%;
    }
    
     
}

 
/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
     .container{
        width:98%;
        position:relative;
    }
    .options-box {        
        width:98%;
        height: 40%;
    }
    
    #map {
        top: 45%;
        width: 96%;
        left: 1%;
        height:55%;
    }
    
} 